.votearrow {
    display: inline-block;
    padding: 12px;
    border: 0px;
    margin: 3px 2px 6px;
    background-color:red;
    cursor: pointer;
    background: url(../../assets/images/grayarrow.gif) no-repeat 50% 50%;
}